version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ../.env
    environment:
      - NODE_ENV=development

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    # volumes:
    #   - ./frontend:/app
    environment:
      - NODE_ENV=development
