<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316803296196-j6b431jk5eaofqe2s39kj1dre8mlufr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316803296196-j6b431jk5eaofqe2s39kj1dre8mlufr4</string>
	<key>API_KEY</key>
	<string>AIzaSyD4z6AxCCcfdScjkFFgYydBxyFOBCbZL5A</string>
	<key>GCM_SENDER_ID</key>
	<string>316803296196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.5m1w.siteApp</string>
	<key>PROJECT_ID</key>
	<string>m1w-site-management</string>
	<key>STORAGE_BUCKET</key>
	<string>m1w-site-management.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316803296196:ios:8e1f6f25468b9d69385291</string>
</dict>
</plist>